div {
    width: 100px;
    height: 100px;
    background: aquamarine;
    position: relative;
    -webkit-animation: mymove 5s infinite;
    animation: mymove 5s infinite;
}

@keyframes mymove
{
    0% {background-color: aqua; left: 0px; top: 0px;}
    25% {background-color: rebeccapurple; left: 300px; top: 0px}
    50% {background-color: black; left: 300px; top: 300px}
    75% {background-color: darkblue; left: 0px; top: 300px}
    100% {background-color: darkolivegreen; left: 0px; top: 0px;}

}

.sliding-middle-out:after
{
    content: '';
    position: absolute;
    top: 10px;
    left: 50px;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width .2s ease, background-color .2s ease, left .2s ease;
}

.sliding-middle-out:hover:after
{
    width: 40%;
    left: 30%;
    background: white;
}